@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url("../images/background.png");
    margin:  0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}